/* ===== Twet.js Styles ===== */
.twet {
  position: relative;
  background: #eee;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}
.twet a {
  color: #900;
  text-decoration: none;
}
.twet a:hover {
  color: #c00;
  text-decoration: underline;
}
.twet .twetAvatar {
  float: left;
  width: 48px;
  border-radius: 10px;
  margin: 0 10px 0 0;
}
.twet .twetText {
  font: 16px/20px helvetica, arial, verdana, sans-serif;
}
.twet .twetText .twetDetails {
  font: 10px/15px helvetica, arial, verdana, sans-serif;
}

#newTwets {
  display: block;
  background: #fee;
  border: 1px solid #fcc;
  border-radius: 5px;
  padding: 5px 0;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  text-align: center;
}

#twetError {
  color: #f00;
  font-weight: bold;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
